.header{
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    background-size: cover;
    background-image: url('/assets/backgrounds/h_img.jpg');
}
.header p{
color: white;
}
.header h1{
    color: white;
}
.about-us{
    text-align: center;
    height: 50vh;
    padding-top: 30px;
}
.services{
    text-align: center;
    height: 50vh;
    background-image: url('/assets/backgrounds/s_image.jpg');
    padding-top: 60px;
    color: white;
}
.what-we-do{
    padding-top: 30px;
    text-align: center;
    height: 40vh;
}
.contact-us{
    padding-top: 30px;
    width: 100%;
    text-align: center;
    color: white;
    height: 60vh;
    background-image: url('/assets/backgrounds/c_image.jpg');
}
.design-hidden1{
    display: none;
}
.design-hidden2{
    display: none;
}
.design-hidden3{
    display: none;
}
.portfolio{
    text-align: center;
}
.portfolio img{
    text-align: center;
    padding: 15px;
}
input{
    top: 0;
    color: white;
    background: transparent;
    width: 30%;
    margin-bottom: 30px;
}
input#msg{
   
    height: 0%;
}
form .message{
    color: white;
    padding-bottom: 10%;
    height: 10%;
    width: 80%;
    background:transparent;
    }
input::placeholder{
    color: white !important;
    }
.footer{
        text-align: center;
    }
.footer p{
    margin-top: 10px;
}
h1{
    font-weight: bold;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
button{
    border-radius: 10px;
}
button:hover{
    
    background-color: violet;
    
}